<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"><a href="https://www.facebook.com/profile.php?id=100018498157781">fsdf</a></i>
            <i class="fa-brands fa-square-instagram"><a href="https://www.instagram.com/vipinkumar7230/profilecard/?igsh=dmMyejQ1cnM4YTV3"></a></i>
            <i class="fa-brands fa-linkedin"><a href="https://www.linkedin.com/in/vipin-kumar-7a433025b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "></a></i>
        </div>
        <div class="f-info-brand"> &copy; Wenderlust Private Limited </div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        
    </div>
</footer>
